$primary-color: #DEF6E0;
$secondary-color: #565656;
$third-color: #C1D8C3;
$fifth-color: #FFF5E4;
$sixth-color: #6A9C89;
$seven-color: #946E48;
$eight-color: #824729;
$nine-color: #877969;

$primary-text-color: #000;
$secondary-text-color: #565656;
$third-text-color: #FFA725;

$primary-font-family: 'Bakbak One', sans-serif;
$secondary-font-family: 'EB Garamond', serif;
$third-font-family: 'Abril fatface', sans-serif;



